#germplasms_tree {
	background-color: white;
    opacity: 0.9;
    height: 330px;
    overflow: auto;
    position: absolute;
    display: none;
    z-index: 2;
}

#edit-germplasm-fuzzy-search {
    width: 23%;
}

#germplasms_tree {
    width: 18%;
}

.checked_node {
    padding: 0px 8px;
    display: inline-block;
    margin: 0 10px 4px 5px;
    background-color: aquamarine;
    border-radius: 4px;
}

.form-item-chr label, .form-item-start label, .form-item-end label {
    display: inline-block !important;
}

.form-item-start input, .form-item-end input {
    display: inline-block !important;
    width: 23%;
}

